CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_SPIFFS_USE_MTIME=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_BT_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_ULP_COPROC_ENABLED=y
CONFIG_ULP_COPROC_TYPE_LP_CORE=y
CONFIG_ULP_COPROC_RESERVE_MEM=8128
CONFIG_PROTOTRACER_MAINBOARD_SERVICE_UUID="73cf57c7-6797-46e8-8202-dc5e7f956b57"
CONFIG_PROTOTRACER_MAINBOARD_RX_CHARACTERISTIC_UUID="8fc048fe-591c-4fb8-a99c-e9f507940964"
CONFIG_PROTOTRACER_MAINBOARD_TX_CHARACTERISTIC_UUID="42036097-7c76-4129-a80d-ed4e0d12359c"